.afterbanner_back10 {
    /* margin: 0px 0px 0px !important; */
    inset: 0;
    background-image: url('./requirements/guitarist/151181352c5412d76eb87cf2009c3c7ac.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* z-index: 1; */
    height: 3000px;
    position: relative;
    top: 120px;
    width: 100vw;
  margin-left: -300px !important;
  margin-right: -300px !important;
  overflow: hidden;
    
}

.zoom_in {
  background-color: #0a0a0a;
  height: 100vh;
  display: flex;
    justify-content: center;
    align-items: center;
  mix-blend-mode: multiply;
}

h1  {
  font-size: 300px;
  font-family: archivo black;
  color: rgb(255, 255, 255);
}

